<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品頁面</title>
  </head>
  <body>
    <div id="app">
      <div class="container p-4">
        <div class="row">
          <div class="col-md-6">
            <h1 class="fs-2">產品列表</h1>
            <table class="table table-hover">
              <thead class="table-success">
                <tr>
                  <th scope="col">產品名稱</th>
                  <th scope="col">原價</th>
                  <th scope="col">售價</th>
                  <th scope="col">是否啟用</th>
                  <th scope="col">查看細節</th>
                </tr>
              </thead>
              <tbody>
                <!-- v-for 渲染表格 -->
                <tr v-for="item in products" :key="item.title">
                  <td>{{ item.title }}</td>
                  <td>{{ item.origin_price }}</td>
                  <td>{{ item.price }}</td>
                  <td>
                    <span v-if="item.is_enabled >= 1" class="text-success"
                      >啟用</span
                    ><span v-else class="text-danger">未啟用</span>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-success"
                      @click="tempProduct = item"
                    >
                      查看細節
                    </button>
                  </td>
                </tr>
              </tbody>
              <caption>
                {{ `目前有 ${products.length} 項商品` }}
              </caption>
            </table>
          </div>
          <div class="col-md-6">
            <h2>產品細節</h2>
            <!-- 如果有點查看細節，temp 會有資料，會顯示此區塊 -->
            <div v-if="tempProduct.title">
              <div class="card mb-3">
                <img
                  :src="tempProduct.imageUrl"
                  class="card-img-top cardImg object-fit-cover object-position-center"
                  :alt="tempProduct.title"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ tempProduct.title }}
                    <span class="fs-6 text-white bg-success rounded-2 ms-2 p-1"
                      >{{ tempProduct.category }}</span
                    >
                  </h5>
                  <p class="card-text">
                    商品描述：{{ tempProduct.description }}
                  </p>
                  <p class="card-text">商品內容：{{ tempProduct.content }}</p>
                  <p class="card-text">
                    商品價格：{{ tempProduct.price }}<span
                      class="text-secondary text-decoration-line-through ms-2"
                      >{{ tempProduct.origin_price }}</span
                    >
                    / 個
                  </p>
                </div>
              </div>
              <span
                v-for="(image, id) in tempProduct.imagesUrl"
                :key="'image' + id"
              >
                <!-- 用 v-if 讓小圖片如果沒有 imageUrl 就藏起來 -->
                <img
                  v-if="image"
                  :src="image"
                  :alt="tempProduct.title + id"
                  class="productImg object-fit-cover object-position-center rounded-5 p-2"
              /></span>
            </div>
            <div v-else class="text-secondary">請選擇一項商品</div>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/index.js"></script>
  </body>
</html>
